@font-face {
  font-family: 'Exo2.0';
  src: url("./Exo2.0-Thin.otf") format("opentype");
}

@font-face {
  font-family: 'Trebuchetms MS';
  src: url('./trebuchetms.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Trebuchetms MS';
  src: url('./trebuchetms.ttf');
  font-weight: 400;
  font-style: normal;
}